@tailwind base;

@tailwind components;

@tailwind utilities;

.button {
  @apply inline-block px-4 py-1.5 bg-primary hover:bg-primary-200 hover:shadow-2xl transition-all rounded-md text-white text-sm
}

.bg-happy{
  background-image: url('../assets/images/happy2.jpeg')
}

.input{
  @apply block w-full px-3 py-1.5 text-base font-normal  text-gray-700  bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
}

.volunteer_bg_pattern {
  background-image: url('@/assets/images/pattern_image_bg_5.png');
  background-position: 50% -50px;
}